* {
	box-sizing: border-box;
	color: #d8d8d8;
	margin: 0;
	padding: 0;
}
html {
	background-color: #191e23;
	display: flex;
	flex-direction: row;
}
main {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(#1f262d, #14181c);
	padding: 1rem 5rem;
}
h1 {
	text-transform: capitalize;
}
p {
	margin: 1rem 0;
}
.logo {
	width: 100%;
	height: 100%;
}
.pagination {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.toggle {
	display: none;
}

#menu {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
	background-color: #14181c;
	padding: 0 2rem;
	font-family: "Roboto", sans-serif;
}
.nav-item {
	display: block;
	width: auto;
	padding: 1rem;
}
.searchbar {
	padding: 0 1rem;
}
.searchbar input[type="text"] {
	border-radius: 10px;
	padding: 0.4rem 1rem;
	text-align: left;
	font-size: 1rem;
	color: black;
	border: none;
}
.nav-link {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	display: block;
	width: 100%;
	text-decoration: none;
	color: #e8ebed;
	font-size: 1rem;
	font-weight: 400;
}
button {
	padding: 6px 10px;
	background-color: inherit;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.logo {
	flex: 1 1;
}

.info {
	display: flex;
	flex-direction: column;
}
img {
	object-fit: contain;
	max-width: 100%;
	max-height: 500px;
}

.tag {
	margin: 0.2rem;
	padding: 0.1rem 0.3rem;
	list-style-type: none;
	background-color: #283038;

	color: #99aabb;
	text-decoration: none;
}

.btn {
	background-color: #2c3440;

	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 100%;
}

.filter-btn {
	color: white;
	width: 100px;
	margin-top: 1rem;
	padding: 0.4rem 0.6rem;
	text-align: center;
	display: inline-block;
	font-size: 1rem;
	background-color: #00b020;
	border-radius: 10px;
}
article {
	margin: 0.5rem;
	padding: 1.5rem;
	/* border: 5px outset #e8ebed;
	border-radius: 10px; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.searchterm {
	text-align: left;
	margin: 1rem;
	padding-left: 5rem;
}

.tags {
	display: flex;
	flex-wrap: wrap;
}
h2 {
	margin-top: 0;
}

fieldset {
	border: none;
}

#filter_search {
	background: #2c3440;
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 0.5rem;
}

#filter_search input,
select,
option {
	max-width: 200px;
	border-radius: 10px;
	padding: 0.2rem 0.5rem;
	text-align: left;
	font-size: 1rem;
	color: black;
	border: none;
	flex: 1 1;
}

.form-items {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}
.form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0.5rem;
	/* min-width: 150px; */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.tags {
		margin-left: 1rem;
	}
	p {
		margin-left: 1.5rem;
	}

	.info {
		display: flex;
		flex-direction: row;
	}
	img {
		object-fit: contain;
		max-width: 200px;
		height: auto;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	img {
		object-fit: contain;
		max-width: 250px;
		height: auto;
	}
}
