<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style.css">
	<%- include('../partials/meta') %>
		<title>404: Page not Found</title>
</head>

<body>
	<%- include ('../partials/navbar',{username:null}) %>
		<main>
			<h2>You seem lost little one... Let me take you <a href="/">home</a></h2>
		</main>
		<script src="./index.js"></script>
</body>

</html>
