<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style.css">
	<%- include('../partials/meta') %>
		<title>Personalized Movie Recommendations for Letterboxd</title>
</head>

<body>
	<%- include ('../partials/navbar',{username:null}) %>
		<main>
			<h1>Welcome to the Home Page</h1>
			<form id="create_user" action="http://localhost:8080/api/update" method="POST">
				<fieldset class="form-items">
					<div class="form-group">
						<label for="username">Enter your Letterboxd Username for custom recommendations</label>
						<input type="text" autocomplete="off" placeholder='Letterboxd Username' name="username">
					</div>
					<div class="form-group">
						<label for="accuracy">How long do you want to wait?</label>
						<select name="accuracy">
							<option value="low">I need it right now</option>
							<option value="med">Take your time</option>
							<option value="high">I have all day</option>
						</select>
					</div>
					<button class="filter-btn" type="submit">Get Recommendations</button>
				</fieldset>
			</form>
		</main>
		<script src="./index.js"></script>
</body>

</html>
