<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../style.css">
	<%- include('../partials/meta') %>
		<title>Recommendations</title>
</head>

<body>
	<h1>
		<%= search%>
	</h1>
	<% include ('../partials/pagination',{page:page,queryString:queryString,username:username}) %>
		<main>
			<%- include('../partials/recommendation_list',{recommendations: data ,depth:'../'})%>
		</main>
		<% include ('../partials/pagination',{page:page,queryString:queryString,username:username}) %>
</body>

</html>
